@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(241, 245, 241);
}

.navContainer{
    background-color: #d6dcdc;
}

.search{
    background-color: rgb(241, 245, 241);
}
