@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(241, 245, 241);
}

.navContainer{
    background-color: #d6dcdc;
}

.search{
    background-color: rgb(241, 245, 241);
}


.navContainer {
    position: relative;
    z-index: 10;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu-right {
    right: 0;
    left: 0;
    width: 100%;
}

