@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

.search {
  background-color: rgb(241, 245, 241);
}

.navContainer {
  position: relative;
  z-index: 10;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-right {
  right: 0;
  left: 0;
  width: 100%;
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car {
  &__body {
    animation: shake 0.2s ease-in-out infinite alternate;
  }

  &__line {
    transform-origin: center right;
    stroke-dasharray: 22;
    animation: line 0.8s ease-in-out infinite;
    animation-fill-mode: both;

    &--top {
      animation-delay: 0s;
    }

    &--middle {
      animation-delay: 0.2s;
    }

    &--bottom {
      animation-delay: 0.4s;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}

@keyframes line {
  0% {
    stroke-dashoffset: 22;
  }

  25% {
    stroke-dashoffset: 22;
  }

  50% {
    stroke-dashoffset: 0;
  }

  51% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: -22;
  }

  100% {
    stroke-dashoffset: -22;
  }
}

.buttons {
  background-color: #54b4d3;
  color: white;
  font-weight: bold;
}

.buttons::after .buttons:hover {
  background-color: rgb(51 140 170);
}

.card1 {
  border: 1px solid rgb(201, 196, 196);
}

.iconButton{
  margin-bottom: 4px;
}

.message{
  margin-top: -18px;

}

.card-img-wrapper {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.5s ease;
}

.card-img-wrapper:hover .card-img-top {
  transform: scale(1.1); /* Zoom effect */
}
.capitalize {
  text-transform: capitalize;
}
.card-text.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.icon-color-location {
  color: #007bff; /* Blue color for location icon */
}

.icon-color-price {
  color: #28a745; /* Green color for price icon */
}

.icon-color-condition {
  color: #ffc107; /* Yellow color for condition icon */
}

.icon-color-transmission {
  color: #dc3545; /* Red color for transmission icon */
}
.text-decoration-none {
  text-decoration: none;
  color: inherit; /* Make sure the text color is inherited */
}

.card-hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1) !important; 

}

/* Increased shadow on hover */
.card-hover:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3) !important;
}

.shadow-divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}
.custom-dropdown-menu {
  min-width: 250px !important ;/* Set the minimum width */
  padding: 10px; /* Add some padding for space */
  border-radius: 12px; /* Rounded corners for a smoother look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.list{

  padding-left: 0 !important;

}


.items:hover{
  background-color: rgb(233 235 237) !important;
  text-decoration: none;
}

.custom-button {
  background-color: white;
  color: black;
  border: 1px solid BLACK;
  border-radius: 0.375rem; /* Adjust as needed */
  padding: 0.75rem 1.25rem; /* Adjust padding to match Tailwind classes */
  font-size: 1rem; /* Adjust font size to match Tailwind classes */
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.custom-button:hover {
  background-color: #f0f0f0 !important; /* Change background color on hover */
  color: black !important; /* Change text color on hover */
  border-color: black !important; /* Change border color on hover */
  cursor: pointer !important; /* Optional: Change cursor to pointer on hover */
}

.thumb.selected{
  height: 50px!important;
  width: 50px!important;

}


.err{
  margin-top: -18px;
}